@font-face {
    font-family: Montserrat;
    src: url(../public/fonts/Montserrat-Regular.ttf);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

html {
    background-color: #1d1d1d;
    color: rgb(250, 245, 245);
    font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}